<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>lista de clubes</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>lista de clubes</h1>
    <a href="http://localhost:3000/clubes/add" class="btn btn-success" style="margin-bottom: 10px;"> incluir</a>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>id</th>
          <th>nome</th>
          <th>estado</th>
          <th>operações</th>
        </tr>
      </thead>
      <tbody>
        <% for (item of resultado) {%>
          <tr>
            <td><%= item.id %></td>
            <td><%= item.nome%></td> 
            <td><%= item.sigla_estado %></td>  
            <td>
              <a href="/clubes/edit/<%=item.id%>" class = "btn btn-primary">editar</a>
              <a href="/clubes/delete/<%=item.id%>" class = "btn btn-danger">excluir</a>
            </td> 
            <br>  
          </tr>
        <%}%>
      </tbody>
    </table>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
  </body>
</html>